{% extends 'base.html.twig' %}

{% form_theme formular 'bootstrap_5_layout.html.twig' %}

{% block title %}Upravit úkol{% endblock %}

{% block body %}
<h1 class="mb-4">Upravit úkol</h1>

{{ form(formular, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}